@import "src/defaultStyle/index";

.navbar {

  .navbar__inner {
    margin: 20px;
    border: 2px solid #242424;
    padding: 30px;
    .navbar__title {
      font-size: 36px;
      text-transform: capitalize;
      color: $titleColorOrange;
      padding: 20px;
      text-align: center;

    }
    .navbar__list {
      height: 69vh;
      overflow: auto;
      .navbar__item {
        text-transform: capitalize;
        font-size: 24px;
        padding: 10px;
        text-align: center;
      }
    }
  }
}