@import 'src/defaultStyle/index' ;


.header {
  width: 100%;
  background-color: $navBlockColor;
  position: fixed;
  z-index: 1;
  .header__inner {
    padding: 30px 50px;
    .header__logo {

      text-transform: capitalize;
      font-size: 46px;
      letter-spacing: 10px;
      font-weight: 900;
      background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(254,173,0,1) 83%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}